
<html class="no-js" lang="en">

        <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>Dashboard V.1 | jeweler - Material Admin Template</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- favicon
                ============================================ -->
            <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
            <!-- Google Fonts
                ============================================ -->
            <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
         
            <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('bundles/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{ asset('bundles/css/style.css')}}">
            <link rel="stylesheet" href="{{ asset('bundles/css/responsive.css')}}">
          
        </head>
        
        <body>
            <!--[if lt IE 8]>
                    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
        
            <div class="left-sidebar-pro">
                <nav id="sidebar" class="">
                    <div class="sidebar-header">
                        <a href="index.html">
                            <img class="main-logo" src="{{ asset('bundles/images/ssic.png') }}" alt="" />
                        </a>
                        <strong><img src="{{ asset('bundles/images/ssic.png') }}" alt="" /></strong>
                    </div>
                    <div class="left-custom-menu-adp-wrap comment-scrollbar">
                        <nav class="sidebar-nav left-sidebar-menu-pro">
                            <ul class="metismenu" id="menu1">
                                <li class="active">
                                    <a class="has-arrow" href="index.html">
                                         <img src="{{ asset('bundles/images/svg/school.svg') }}" alt="">
                                    </a>
                                
                                </li>
                                <li class="active">
                                        <a class="has-arrow" href="index.html">
                                             <img src="{{ asset('bundles/images/svg/school.svg') }}" alt="">
                                        </a>
                                    
                                    </li>
                                    <li class="active">
                                            <a class="has-arrow" href="index.html">
                                                 <img src="{{ asset('bundles/images/svg/school.svg') }}" alt="">
                                            </a>
                                        
                                        </li>
                                        <li class="active">
                                                <a class="has-arrow" href="index.html">
                                                     <img src="{{ asset('bundles/images/svg/school.svg') }}" alt="">
                                                </a>
                                            
                                            </li>
                                            
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
            <!-- Start Welcome area -->
            <div class="all-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="logo-pro">
                                <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-advance-area">
                    <div class="header-top-area">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="header-top-wraper">
                                        <div class="row">
                                           
                                          
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="header-right-info">
                                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                        <li class="nav-item dropdown">
                                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-envelope-o adminpro-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                            <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                                <div class="message-single-top">
                                                                    <h1>Message</h1>
                                                                </div>
                                                                <ul class="message-menu">
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="message-img">
                                                                                <img src="img/contact/1.jpg" alt="">
                                                                            </div>
                                                                            <div class="message-content">
                                                                                <span class="message-date">16 Sept</span>
                                                                                <h2>Advanda Cro</h2>
                                                                                <p>Please done this project as soon possible.</p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="message-img">
                                                                                <img src="img/contact/4.jpg" alt="">
                                                                            </div>
                                                                            <div class="message-content">
                                                                                <span class="message-date">16 Sept</span>
                                                                                <h2>Sulaiman din</h2>
                                                                                <p>Please done this project as soon possible.</p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="message-img">
                                                                                <img src="img/contact/3.jpg" alt="">
                                                                            </div>
                                                                            <div class="message-content">
                                                                                <span class="message-date">16 Sept</span>
                                                                                <h2>Victor Jara</h2>
                                                                                <p>Please done this project as soon possible.</p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="message-img">
                                                                                <img src="img/contact/2.jpg" alt="">
                                                                            </div>
                                                                            <div class="message-content">
                                                                                <span class="message-date">16 Sept</span>
                                                                                <h2>Victor Jara</h2>
                                                                                <p>Please done this project as soon possible.</p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="message-view">
                                                                    <a href="#">View All Messages</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                            <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                                <div class="notification-single-top">
                                                                    <h1>Notifications</h1>
                                                                </div>
                                                                <ul class="notification-menu">
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="notification-icon">
                                                                                <i class="fa fa-line-chart adminpro-analytics-arrow" aria-hidden="true"></i>
                                                                            </div>
                                                                            <div class="notification-content">
                                                                                <span class="notification-date">16 Sept</span>
                                                                                <h2>Victor Jara</h2>
                                                                                <p>Please done this project as soon possible.</p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="notification-view">
                                                                    <a href="#">View All Notification</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                                    <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                                    <span class="admin-name">Advanda Cro</span>
                                                                    <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                                </a>
                                                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                                <li><a href="register.html"><span class="fa fa-home author-log-ic"></span>Register</a>
                                                                </li>
                                                                <li><a href="#"><span class="fa fa-user author-log-ic"></span>My Profile</a>
                                                                </li>
                                                                <li><a href="lock.html"><span class="fa fa-diamond author-log-ic"></span> Lock</a>
                                                                </li>
                                                                <li><a href="#"><span class="fa fa-cog author-log-ic"></span>Settings</a>
                                                                </li>
                                                                <li><a href="login.html"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
             
              
            </div>
        
            <!-- jquery
                ============================================ -->
            <script src="{{ asset('bundles/js/jquery-1.11.3.min.js')}}"></script>
            <!-- bootstrap JS
                ============================================ -->
            <script src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>
           
        </body>
        
        </html>